.abs{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width: 100px;
    height: 100px;
        .optimizing-text{
            color:white;
        }
}

.relative{
    width:100%;
    height:100%;
    }

    .hyy{
        color :red;
    }

    .full-loader{
	display: flex;
	align-items: center;
	position:fixed;
	width:100%;
	height:100%;
	left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index:999;
	.relative{
		width:100%;
		height:100%;
		.abs{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			margin:auto;
			width: 100px;
    		height: 100px;
		}
	}
    }